<div class="row">
  <div class="col-md-6">
    <h3>Day 1 (May 26)</h3>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>11:00 ET / 09:00 MT</td>  <td>Automating Tasks with the Unix Shell</td> </tr>
      <tr> <td>12:30 ET / 10:30 MT</td>  <td>Afternoon break</td> </tr>
      <tr> <td>13:00 ET / 11:00 MT</td>  <td><a href="https://coderefinery.github.io/git-intro/">Version Control with Git</a></td> </tr>
      <tr> <td>15:00 ET / 13:00 MT</td>  <td>Adjourn</td> </tr>
    </table>

    <h3>Day 2 (May 27)</h3>
    <table class="table table-striped">
      <tr> <td>11:00 ET / 09:00 MT</td>  <td>Plotting and Programming in Python</td> </tr>
      <tr> <td>12:30 ET / 10:30 MT</td>  <td>Afternoon break</td> </tr>
      <tr> <td>13:00 ET / 11:00 MT</td>  <td>Plotting and Programming in Python (Continued)</td> </tr>
      <tr> <td>15:00 ET / 13:00 MT</td>  <td>Adjourn</td> </tr>
    </table>
  </div>

  <div class="col-md-6">
    <h3>Day 3 (June 2)</h3>
    <table class="table table-striped">
      <tr> <td>11:00 ET / 09:00 MT</td>  <td>R for Reproducible Scientific Analysis</td> </tr>
      <tr> <td>12:30 ET / 10:30 MT</td>  <td>Afternoon break</td> </tr>
      <tr> <td>13:00 ET / 11:00 MT</td>  <td>R for Reproducible Scientific Analysis (Continued)</td> </tr>
      <tr> <td>15:00 ET / 13:00 MT</td>  <td>Adjourn</td> </tr>
    </table>
    <h3>Day 4 (June 3)</h3>
    <table class="table table-striped">
      <tr> <td>11:00 ET / 09:00 MT</td>  <td>Automating Tasks with the Unix Shell (Continued)</td> </tr>
      <tr> <td>12:30 ET / 10:30 MT</td>  <td>Afternoon break</td> </tr>
      <tr> <td>13:00 ET / 11:00 MT</td>  <td><a href="https://coderefinery.github.io/git-intro/">Version Control with Git</a></td> </tr>
      <tr> <td>15:00 ET / 13:00 MT</td>  <td>Adjourn</td> </tr>
    </table>
  </div>

</div>
